*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.NavBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    width: 100%;
    top: 0;
    background-color: blue;
    
}

h1{
    color: white;
    font-size: 50px;
    font-family: "Rubik Doodle Shadow";
    
}

.Botones{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: #ffffff;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
}

button:hover{
    background-color: #929394;
}

.Titulo{
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    font-family: "Merriweather";
    display: flex;
    justify-content: center;
    align-items: center;
}